table  {
    border-collapse: collapse;
}

table td, th  {
    padding: 5px;
}

.create-button  {
    color: #1a46e7;
    cursor: pointer;
    padding: 5px;
}
.edit-button  {
    padding: 2px 5px;
    background: #04ad2b;
    cursor: pointer;
}

.delete-button  {
    padding: 2px 5px;
    background: #e70b0b;
    cursor: pointer;
}